.container{
    background-color: #1E3C72;;
    color: black;
    padding: 20px;
    font-family: "poppins";
    margin: auto;
    width: 100%;
    
    margin-top: 10%;
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 0;
}
img{
    width: 40px;
}
.grid{
    display: grid;
    background-color: #1E3C72;;
    grid-template-columns: 25% 25% 25% 25%;
}
.card-cont{
    background: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin :10px;
    border: 2px solid white;
}
.card-cont:hover {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    
}
.card-cont p{
    width: 70%;
    font-weight: 600;
    opacity: 0.8;
    margin-top: 10px;
}

.underline{
    margin-top: 0;
    color: white;
    text-align: center;
    line-height: 3px;
    margin-bottom:60px;
    letter-spacing: -4px;
    font-weight: 500;
}

@media only screen and (max-width: 600px){

    
.grid{
    width: 90%;
    grid-template-columns: 50% 50%;
    margin: auto;
}
.card-cont{
    width: auto;
    padding: 20px 5px;
}
.card-cont p{
   font-size: 10px;
}
img{
    width: 30px;
}
h1{
    font-size: 15px;
    width: fit-content;
    margin: auto;
}
.container{
    background-color: #1E3C72;;
    color: black;
    font-family: "poppins";
    margin: auto;
    width: 70%;
    margin-top: 10%;
}
.underline{
    width: fit-content;
    margin: auto;
    margin-bottom: 10%;
}
}