<div class="container">
    <div class="main">
        <h1>Always Accurate</h1>
        <h4 class="underline">_________<br>_________</h4>
        <p>Since our tax returns are triple-checked, they are always accurate.</p>
    </div>
    <div class="card">
        <h1>1. Initial Checking and Document Collection</h1>
        <p>Our representatives our representatives will inquire about the specifics of your income, receive your documnes, give them a thorough examination, and then send them on to our EAs..</p>
    </div>
    <div class="card">
        <h1>2. Further Checking & Preparation</h1>
        <p>After going through all of your documnetation, our experienced EAs will prepare your tax draft for filling.</p>
    </div>
    <div class="card">
        <h1>3. Final Checking & Preparation</h1>
        <p>In the end,our CPA will loook over all of your paperwork and the tax return to make sure there aren't any mistakes.</p>
    </div>
</div>

<!----------------------Get more finrax----------------------------------->
<div class="container2">
    <h1 class="title"> Get More Fintax Filings</h1>
    <h4 class="underline">_________<br>_________</h4>
    <div class="services-cont">
        <div class="servicecard">
            <h1>01</h1>
            <h2>No Hidden Prices    </h2>
        </div>
        <div class="servicecard">
            <h1>02</h1>
            <h2>24/7 Customer Support</h2>
        </div>
        <div class="servicecard">
            <h1>03</h1>
            <h2>Money Back Guarantee</h2>
        </div>

    </div>
    

</div>