<div class="container">
    <div class="row">
      <div class="col-1">
        <h2>Request a Call Back</h2>
        <h3>Get your Income tax<br>filed today</h3>
        <p>Our tax preparation and tax processing service methodology provide CPAs and Tax service providers of almost any size with a great new way of handling their tax compliance workload and meeting filing deadlines.</p>
        <button>Request a Call Back</button>
      </div>
      <div class="col-2">
        <app-form-template></app-form-template>
      </div>
    </div>
</div>