.header{
    display:flex;
    background:url('/assets/subtle-prism.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #1E3C72;

    color: white;
    font-weight: 500;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    padding: 100px auto !important;
    padding-top: 0px;
    padding-bottom: 0px; 
}
.logo{
    margin-right: 200px;
    font-weight: 800;
    font-size: 15px;
    border-bottom: 1px solid yellowgreen;
    color: aliceblue;
    cursor: pointer;
}
.nav{
    margin: auto 40px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
.nav:hover{
    color: greenyellow;
}
.row-1 .body{
    background: url("/assets/it.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(17, 17, 17, 0.772);
    height: auto;
    padding: 150px 100px;    
    text-align: left;

}
.body h1{
    font-size: 38px;
    color: white;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 130%;
    text-shadow: 15px 15px 100px #111;
    font-family: 'Poppins';
    width: 50%;
    margin-bottom: 0;
    margin-left: 0;
}
.body p{
    font-family: 'Poppins';
    color: white;
    width:410px;
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
    text-shadow: 5px 5px 10px #111;

}
.row{
    display: block;
    padding: 100px;
    padding-left: 50px;
    background-color: #fff;
   color: aliceblue;
}
.col-1 {
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
    
}
.row img{
    border-radius: 10px;
    width: 500px;
    background-blend-mode: multiply;
    background-color: rgba(17, 17, 17, 0.772);
    background: url("/assets/it2023.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.biggest-img{
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}
.col-1 h2{
    
    font-size:20px ;
    margin-bottom: 10px;
    text-transform: capitalize;
    color:black;
}
.col-1 h3{
    font-family: 'Poppins';
    font-size:38px;
    text-transform: capitalize;
    margin: 20px 0;
    font-weight: 600;
    line-height: 42px;
    color: black;
}
.col-1 p{
    font-size:12px ;
    max-width: 80%;
    margin: 0;
    margin-top: 20px !important;
    line-height: 200%;
    color: grey;
    font-family: 'Poppins';
    margin-bottom: 27px;
}

.col-1 a{
    cursor: pointer;
    padding: 10px 20px ;
    border-radius: 50px;
    margin: 0%;
    background: #1E3C72;
    color: #fff;
    text-decoration: unset;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 50px;
}
.bottom{
    height: 200px;
    background: #111;
}
.innerText{
    
   color: darkblue;
    margin-right: 10px;
}


@media only screen and (max-width: 600px){
    .header{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }
    .logo{
        font-size: 10px;
        margin: 0;
    }
    .nav{
        font-size: 12px;
        margin: auto 20px;
        text-decoration: underline;
    }
    .col-1{
      margin-left: 0;
    }
    .col-1 h3{
        font-size: 18px;
        width: 70%;
        margin: auto;
        text-align: center;
    }
    
    .col-1 p{
        width: 80%;
        font-size: 17px;
        line-height: 25px;
        margin: auto;
        text-align: center;
    }
    .col-1 h2{
      text-align: center;
    }
    .form-container{
        width: fit-content;
        margin: 0;
    }
    .body h1{
        font-size:50px;
        line-height: 60px;
    }
    .body p{
      width: 70%;
    }
    span{
        color: white !important;
    }
    .col-1 a{
        font-size: 20px;
        margin: auto;
        width: fit-content;
        margin-top: 100px !important;
        padding: 18px 30px;
    }
    .row img{
        display: none;
    }
    .text{
      width: 50% !important;
    }

}



@keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }