.header{
    display:flex;
    background:url('/assets/subtle-prism.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 4, 5, 0.88);
    color: white;
    font-weight: 500;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    padding: 100px auto !important;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.logo{
    margin-right: 200px;
    font-weight: 800;
    
    border-bottom: 1px solid yellowgreen;
    color: aliceblue;
}
.nav{
    margin: auto 40px;
    cursor: pointer;
    text-decoration: underline;
}
.nav:hover{
    color: greenyellow;
}
.row-1 .body{
    background: url("/assets/it.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(3, 5, 7, 0.765);
    height: auto;
    padding: 200px 20px;
    margin: auto;
    text-align: center;

}
.body h1{
    margin: auto;
    font-size: 75px;
    color: white;
    text-transform: capitalize;
    padding: 10px 5px;
    font-weight: 800;
    line-height: 90px;
    font-family: 'Roboto', sans serif;
    border-bottom: 1px solid rgba(240, 248, 255, 0.428);
    width: fit-content;
}
.body p{
    font-family: 'Lato', serif;
    color: white;
    width:410px;
    margin: auto;
    font-size: 18px;
    margin-top: 40px;
    line-height: 30px;

}
.row{
    display: block;
    padding: 100px;
    background:url('/assets/subtle-prism.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(1, 30, 36, 0.88);
   color: aliceblue;
}
.col-1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.col-1 h2{
    font-size:20px ;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.col-1 h3{
    font-size: 48px;
    text-transform: capitalize;
    margin: 20px 0;
    font-weight: 800;
    color: greenyellow;
}
.col-1 p{
    font-size:12px ;
    width: 40%;
    margin: auto;
}
button{
    padding: 10px 20px ;
    border-radius: 10px;
    margin-top: 40px;
    border: 0ch;
    background-color: greenyellow;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.307);
    color: rgba(0, 0, 0, 0.799);
    font-weight: 600;
}
.bottom{
    height: 200px;
    background: #111;
}


@media only screen and (max-width: 600px){
    .header{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }
    .logo{
        font-size: 10px;
        margin: 0;
    }
    .nav{
        font-size: 12px;
        margin: auto 20px;
        text-decoration: underline;
    }
    .col-1 h3{
        font-size: 30px;
    }
    .col-1 p{
        width: 80%;
        font-size: 17px;
        line-height: 25px;
    }
    .form-container{
        width: fit-content;
        margin: 0;
    }
    .body h1{
        font-size:50px;
        line-height: 60px;
    }
    span{
        color: white !important;
    }
    button{
        font-size: 20px;
        padding: 18px 30px;
    }
}