<div class="container">
  <div class="row-1">
    <div class="header">
      <p class="logo">Fintax.com</p>
      <div style="display:flex ;">
      <p class="nav">Home</p>
      <p class="nav">About us</p>
      <p class="nav">Contact</p>
      <p class="nav">Services</p>
    </div>  
    </div>
    <div class="body">
      <h1>Worried about Tax Filing ?<br>File your Taxes with FinTax <br>Filings.</h1>
      <p> Any and all your tax issues will be ressolved by our team of tax professionals. </p>
    </div>
  </div>
    <div class="row">
      <div style="display: flex; ">
        <img class="biggest-img" src="/assets/tax-calc.jpg">
        <div class="col-1">
          <h3>We're one of the Biggest Corporate Filings in<br> <span class="innerText">NorthCarolina,</span>  <span class="innerText">Netherlands,</span>  <span class="innerText">India.</span></h3>
          <p class="text">FinTax Filings is a team of devoted and experienced specialists committed to provide our esteemed clients with superior service. Our skilled team has supported our clients in successfully achieving the outsourcing advantage and gaining a durable competitive edge.

            <br><br>At our organisation, we take satisfaction in offering individuals and businesses with outstanding tax filing services. We recognise that tax season can be stressful and daunting, which is why we make it our top focus to provide our clients with a stress-free and streamlined experience.
            
            <br><br>One way in which we deliver superior services is by employing tax experts who are well-versed in the most recent tax rules and regulations. Our team is committed to assisting clients in maximising their tax deductions and credits in order to maximise their tax returns.
            
            <br><br>In addition to expert advice, we also provide handy options such as online tax filing and mobile app access. This enables our clients to conveniently access their tax data and file their returns from anywhere, at any time.
            
            <br><br>Additionally, we place a premium on customer service and are always ready to address any questions or problems our customers may have. We feel that open communication is essential to provide our clients with a great and stress-free experience.
            
            <br><br>Our organisation is committed to providing individuals and businesses with superior tax filing services. We recognise the significance of proper and timely tax filing and are committed to guiding our clients through the process with ease.
            
            </p>
        </div>
      </div>


      <div style="border-top: 1px solid rgba(128, 128, 128, 0.335);display: flex; margin-top: 5%; padding-top: 10%; ">
        <img src="/assets/it2023.jpg">
        <div class="col-1">
          <h2>Request a Call Back</h2>
          <h3>Get your Income tax<br>filed today</h3>
          <p>Our tax preparation and tax processing service methodology provide CPAs and Tax service providers of almost any size with a great new way of handling their tax compliance workload and meeting filing deadlines.</p>
          <a href="#form">Request a Call Back</a>
        </div>
      </div>

      
      
      <div class="col-2">
        <app-why-choose-template></app-why-choose-template>
        <app-services class="service-container "></app-services>
        <app-accurate-template></app-accurate-template>
        <app-benifits-template></app-benifits-template>
        <app-form-template id="form" class="form-container"></app-form-template>
      </div>
    </div>
    <div class="bottom">
    </div>
</div>