.container{
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
border-radius: 50px;
    padding: 30px 50px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: center;
    border-radius: 20px;
}
.item, .select-item, .textarea-item{
    margin: 28px 0;
}
h1{
    width: fit-content;
    margin: auto;
    color: white;
    font-family: 'Poppins';
}
.row{
    display: flex;
    text-align: left;
    margin-top: 30px;
    justify-content: space-evenly;
}
.col-2{
   
}
 p{
    font-size:13px;
    font-weight: 600;
   margin-bottom: 8px; 
   margin-left: 2px;
   color:grey ;
}
input ,textarea{
    background: white;
    width: 200px;
    outline: none;
    padding: 12px 9px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.16px;
    color: #1E3C72;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.271);
}
input::placeholder , textarea::placeholder{
    font-size: 12px;
    font-weight: 600;
    color: rgba(38, 38, 38, 0.518);
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.16px;
    color: #1E3C72;
   

}
.item{
    
    width: 200px;

}
select{
    height: 40px;
    width:200px ;
    border-radius:15px ;
    padding-right:  10px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    color: #1E3C72;
    font-size: 12px;
    padding-left: 10px;
    font-weight: 700;
}
select:active{
    color: olivedrab;
}
textarea{
    height: 180px;
    width: 300px;
}

button{
    margin: auto;
    width: fit-content;
    background:transparent;
    border: 0px;
    padding: 10px 30px;
    font-weight: 600;
    color:#fff ;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
font-style: normal;
    border :1px solid white;
}
option{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.16px;
    color: #1E3C72;
    border-radius: 15px;
}
option::after{
    color: #000;
}

@media only screen and (max-width: 600px){
    .container{
        width: fit-content;
        padding: 30px 50px;
        border: 1px solid black;
        margin: auto;
    }
    .row{
        display: inline;
    }
    .item{
        width: fit-content;
    }
    input, textarea{
        border-radius: 10px;
    }
    textarea{
        width:160px;
        height: 140px;
    }

    h1{
        margin-bottom: 50px;
        font-size: 13px;
    }
    p{
        font-size: 11px;
    }
    input::placeholder , textarea::placeholder{
        font-size: 11px;
    }
}