<div class="container">
    <h1>Book an Appointment</h1>
    <div class="row">
    <div class="col-1">
        <div class="item"><input  [(ngModel)]="name" type="text" placeholder="Enter name "></div>
        <div class="item"><input [(ngModel)]="mail" type="text" placeholder="Enter email "></div>
        <div>
            <select  id="select-item" required [(ngModel)]="selectedOption" class="select-item">
                <option vaue="select services" >Select Services</option>
                <option>Individual Tax Services</option>
                <option>ITIN Preparation</option>
                <option>FBAR & FATCA Compliance</option>
                <option>Tax Representation</option>
                <option>Advanced Tax Paying</option>
                <option>Amendment Filing</option>
                <option>Tax Evaluation</option>
                <option>Extension Filing</option>
                <option>Other services</option>
            </select>
        </div>
    </div>
   <div class="col-2">
    <div class="textarea-item">
        <textarea  [(ngModel)]="query" placeholder="Type your query here"></textarea>
    </div>
   </div>
</div>
    
    <button (click)="bookAppointment()" class="book">Book Free Appointment</button>
</div>